@model WebApp.ViewModels.MyAccountViewModel

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tracking Order</h2>
                        <p>Home <span>-</span> Tracking Order</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================register_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3">
                <div class="login_part_text text-center p-0 pt-5 w-100">
                    <div class="w-100 p-4">
                        <div class="navbar-nav text-justify nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="font-size:18px">
                            <a class="nav-item pb-4 d-flex nav-link active bg-transparent" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <div style="width:25px" class="mr-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <p class="text-light" style="font-size:18px">My Profile</p>
                            </a>
                            <a class="nav-item pb-4 d-flex nav-link bg-transparent" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                <div style="width:25px" class="mr-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-clipboard-list"></i>
                                </div>
                                <p class="text-light" style="font-size:18px">My Order</p>
                            </a>
                            <a class="nav-item pb-4 d-flex nav-link bg-transparent" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                <div style="width:25px" class="mr-2 d-flex align-items-center justify-content-center">
                                    <i class="fas fa-key"></i>
                                </div>
                                <p class="text-light" style="font-size:18px">Change Password</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <h3>
                                My profile ! <br>
                                <p>Manage profile information for account security</p>
                            </h3>
                            <form class="row contact_form" action="MyAccount " method="post" novalidate="novalidate">
                                <div class="col-md-2">
                                    <label class="control-label pt-2">Email</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="Member.UserName" type="text" class="form-control" placeholder="Email">
                                    <span asp-validation-for="Member.UserName" class="text-danger" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pt-2">FirstName</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="Member.FirstName" type="text" class="form-control" placeholder="FirstName">
                                    <span asp-validation-for="Member.FirstName" class="text-danger" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pt-2">LastName</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="Member.LastName" type="text" class="form-control" placeholder="LastName">
                                    <span asp-validation-for="Member.LastName" class="text-danger" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pt-2">PhoneNumber</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="Member.PhoneNumber" type="text" class="form-control" placeholder="PhoneNumber">
                                    <span asp-validation-for="Member.PhoneNumber" class="text-danger" />
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="w-30 float-right">
                                        <button type="submit" value="submit" class="btn_3">Update account</button>
                                        <a class="lost_pass" href="#">forget password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <h3>
                                Change Password ! <br>
                                <p>Manage profile information for account security</p>
                            </h3>
                            <form class="row contact_form" action="MyAccount" method="post" novalidate="novalidate">
                                <div class="col-md-2">
                                    <label class="control-label pt-2">Email</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="ChangePassword.Email" type="text" class="form-control" placeholder="Email">
                                    <span asp-validation-for="ChangePassword.Email" class="text-danger" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pt-2">Password</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="ChangePassword.Password" type="text" class="form-control" placeholder="Password">
                                    <span asp-validation-for="ChangePassword.Password" class="text-danger" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pt-2">New Password</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="ChangePassword.NewPassword" type="text" class="form-control" placeholder="New Password">
                                    <span asp-validation-for="ChangePassword.NewPassword" class="text-danger" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label pt-2">Confirm New Password</label>
                                </div>
                                <div class="col-md-10 form-group p_star">
                                    <input asp-for="ChangePassword.ConfirmNewPassword" type="text" class="form-control" placeholder="Confirm New Password">
                                    <span asp-validation-for="ChangePassword.ConfirmNewPassword" class="text-danger" />
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="w-30 float-right">
                                        <button type="submit" value="submit" class="btn_3">Change Password</button>
                                        <a class="lost_pass" href="#">forget password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================register_part end =================-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#v-pills-profile, #v-pills-messages').hide();

            $('#v-pills-home-tab').click(function () {
                $('#v-pills-home').show();
                $('#v-pills-profile, #v-pills-messages').hide();
            });

            $('#v-pills-profile-tab').click(function () {
                $('#v-pills-profile').show();
                $('#v-pills-home, #v-pills-messages').hide();
            });

            $('#v-pills-messages-tab').click(function () {
                $('#v-pills-messages').show();
                $('#v-pills-home, #v-pills-profile').hide();
            });
        });
    </script>
}