@{
    ViewData["Title"] = "Access denied";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2 style="color:red">Access Denied</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>